.DS_Store
.Rhistory
.Rapp.history
email.txt
*.sqlite
scipy-lecture-notes/*
*.pyc
external/*
*.log
*.aux
*.fdb_latexmk
*.out
*.synctex.gz
*.toc
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
cache
temp
archive
slides/*html
roster*
*grades*
CCASAnet*
*_2012
exercises_hidden