[submodule "MathJax"]
	path = MathJax
	url = git://github.com/mathjax/MathJax.git
[submodule "baseball-databank"]
	path = baseball-databank
	url = https://github.com/jknecht/baseball-archive-sqlite
[submodule "baseball-archive-sqlite"]
	path = baseball-archive-sqlite
	url = https://github.com/jknecht/baseball-archive-sqlite
