<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Introduction to Statistical Computing
</title>

    <link rel="stylesheet" href="stylesheets/default_styles.css">
    <link rel="stylesheet" href="stylesheets/default_pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Introduction to Statistical Computing</h1>
        <p>Bios 301 at Vanderbilt University</p>
        <p><a href="http://biostat.mc.vanderbilt.edu/wiki"><img src="images/vub.png"></a>
        </p>

        <a href="http://fonnesbeck.github.com/Bios301/">Course Synopsis</a>
        <p>
            <a href='http://fonnesbeck.github.com/Bios301/lectures.html'>Lectures</a>
            <br/>
            <a href='http://fonnesbeck.github.com/Bios301/grading.html'>Grading and Assignments</a>
            <br/>
            <a href='http://fonnesbeck.github.com/Bios301/reading.html'>Textbook and Reading Materials</a>
            <br/>
            <a href='http://fonnesbeck.github.com/Bios301/software.html'>Software Requirements</a>

        <ul>
          <li><a href="https://github.com/fonnesbeck/Bios301/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/fonnesbeck/Bios301/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/fonnesbeck/Bios301">View On <strong>GitHub</strong></a></li>
        </ul>

        <!-- <p class="view"><a href="https://github.com/fonnesbeck/Bios301">View the Project on GitHub</a></p> -->

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; This project is maintained by <a class="header name" href="https://github.com/fonnesbeck">Dr. Chris Fonnesbeck</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
